@model RestRes.ViewModels.RestaurantAddViewModel

<h2>Create a new restaurant</h2>
<hr />

@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}

<form method="post" asp-controller="Restaurant" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Restaurant.Name" class="form-label"></label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span asp-validation-for="Restaurant.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Restaurant.Cuisine" class="form-label"></label>
        <input asp-for="Restaurant.Cuisine" class="form-control" />
        <span asp-validation-for="Restaurant.Cuisine" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Restaurant.Borough" class="form-label">Borough</label>
        <input asp-for="Restaurant.Borough" class="form-control" />
        <span asp-validation-for="Restaurant.Borough" class="text-danger"></span>
    </div>

    <input type="submit" value="Add restaurant" class="btn btn-primary" />
</form>

<div>
    <a asp-controller="Restaurant" asp-action="Index">Back to list</a>
</div>