@model Restaurant

<h2>Update @Model.Name</h2>
<hr />

<form method="post" asp-controller="Restaurant" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"/>
    </div>
    <div class="mb-3">
        <label asp-for="Cuisine" class="form-label"></label>
        <input asp-for="Cuisine" class="form-control" />
        <span asp-validation-for="Cuisine" class="text-danger"/>
    </div>
    <div class="mb-3">
        <label asp-for="Borough" class="form-label">Borough</label>
        <input asp-for="Borough" class="form-control" />
        <span asp-validation-for="Borough" class="text-danger"/>
    </div>
    <input type="submit" value="Update restaurant" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Restaurant" asp-action="Index">Back to list</a>
</div>